* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5FFFA;
}

header {
    background-color: #7f7f7f;
}

.link-zum-seitenanfang {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #d1d1d1;
  border-radius: 40px;
  padding: 5px;
}

.login-bereich {
  float: right;
  padding: 10px;
  background-color: #adacac;
}

.login-eingabefeld {
  float: right;
}

.navigation {
  margin: -4px;
  padding: 0;
  background-color: black;
  border-top: 3px solid #00BFFF;
}

.navigation a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navigation a:hover {
  background-color: #87CEFA;
}

/* Fußzeile */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
footer a, .footer-link {
  color: white;
}


